.Profile {
  margin-top: 20px;
  background: whitesmoke;
  width: 35vw;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 10px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Montserrat";
}

.ProfileTop {
  height: 100px;
  background: rgb(236, 234, 234);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Toastify {
  position: absolute;
  z-index: 999999;
}

.ProfileHeading {
  font-weight: 600;
  font-size: 18px;
}

.ProfileBack,
.ProfileDelete {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 50%;
  background: #0f071b;
}

/* Quotes */

.ProfileQuotes {
  background: white;
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-top: 20px;
}
.ProfileQuotesText {
  /* width: 30vw; */
  font-size: 15px;
}

.ProfileQuotes > div {
  height: 25vh;
  width: 25vw;
  display: flex;
  gap: 20px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  /* margin-top: 10px; */
  bottom: 0% !important;
}

/* .ProfileQuotes
  > .swiper-container
  > .swiper-pagination
  > .swiper-pagination-bullet:active {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000 !important;
  opacity: 0.2;
} */

.ProfileQuotes
  > .swiper-container
  > .swiper-pagination
  > .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #000 !important;
  opacity: 1;
}

.ProfileQuoteHashtag > p {
  background: whitesmoke;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
}

.ProfileQuotesMessage .MuiSvgIcon-root {
  color: black;
}

.ProfileQuotesBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ProfileQuotesMessage {
  background: #ebe7e6;
  height: 50px;
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ProfileQuotesMessage > .ProfileQuotesLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ProfileQuotesMessage > .QuotesMicBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background: #b4b2b2f1;
}

/* Main */

.ProfileMain {
  margin-top: 20px;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.ProfileMainTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ProfileMainTopLeft > img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.ProfileMainTopLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ProfileMainTopLeft > p {
  margin-left: 10px;
  font-weight: 600;
  font-size: 17px;
}

.ProfileMainTopRight {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background: #ebe7e6;
}

.ProfileMainTopRight > .MuiSvgIcon-root {
  color: #0f071b;
}

.ProfileMainImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 60vh;
  object-fit: cover;
  margin-top: 10px;
}

.ProfileMainImage > img {
  width: 30vw;
  height: 60vh;
  border-radius: 15px;
}

/* Userdata */

.ProfileMainUserInfo {
  margin-top: 20px;
}

.ProfileMainUserProfileHeading {
  font-weight: 600;
  font-size: 18px;
  color: #0f071b;
}

.ProfileMainUserProfileItems {
  display: flex;
  justify-content: space-between;
}
.ProfileMainUserProfileItemsLeft {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ProfileMainUserProfileItemsRight {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 30px;
}

.ProfileMainUserProfileItemsLeft > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}
.ProfileMainUserProfileItemsRight > div {
  display: flex;
  align-items: center;
  margin-top: -10px;
  justify-content: center;
}

.ProfileMainUserProfileItemsLeft > div > p {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #0f071b;
}
.ProfileMainUserProfileItemsRight > div > p {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #0f071b;
}

.ProfileMainUserProfileItemsLeft > div > .MuiSvgIcon-root {
  color: grey;
}
.ProfileMainUserProfileItemsRight > div > .MuiSvgIcon-root {
  color: grey;
}

.MainProfileSwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit !important;
  /* margin-right: 0 !important;` */
}

.MainProfileSwiper {
  width: 100%;
}
/* userhashtag */

.ProfileMainUserProfileHashtag > p {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.ProfileMainUserProfileHashtag {
  margin-left: -10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

/* UserLifestyle and goals */

.ProfileMainUserLifestyle,
.ProfileMainUserGoal {
  min-width: 35vw;
}

.LifeStyleHeading,
.GoalHeading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  background-color: #d3cecd;
  padding-left: 30px;
  font-weight: 600;
}

.LifestyleMain > div,
.GoalsMain > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
}

.LifestyleText,
.GoalText {
  font-weight: 600;
}

/* AudioNotes and compatibility */

.ProfileMainUserAudioNotes,
.ProfileMainUserCompatibility {
  min-width: 35vw;
}

.AudioHeading,
.CompatibilityHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #d3cecd;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 600;
}
.AudioHeading > .MuiSvgIcon-root,
.CompatibilityHeading > .MuiSvgIcon-root {
  color: #0f071b;
}

.AudioMain > div,
.CompatibilityMain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 17px;
  min-height: 15vh;
  filter: blur(1px);
}

@media only screen and (max-width: 800px) {
  .Profile {
    width: 100%;
  }
  .ProfileHeading {
    font-size: 14px;
  }
  .ProfileQuotes {
    width: 90%;
  }
  .ProfileQuotes > div {
    width: 90%;
  }
  .ProfileQuotesText > p {
    width: 90%;
    margin-left: 25px;
  }
  .ProfileQuoteHashtag {
    margin-left: 20px;
  }
  .ProfileMain {
    width: 90%;
  }
  .ProfileMainImage {
    width: 100%;
    height: 40vh;
  }
  .ProfileMainImage > img {
    width: 90%;
    height: 40vh;
    object-fit: unset;
  }
  .ProfileMainUserProfileHashtag {
    grid-column-gap: 5px;
  }
  .ProfileMainUserProfileHashtag > p {
    padding: 0;
    height: 30px;
  }
  .ProfileMainUserLifestyle,
  .ProfileMainUserGoal {
    min-width: 100%;
  }
  .ProfileMainUserAudioNotes,
  .ProfileMainUserCompatibility {
    min-width: 100%;
  }
}
