
.SignUPNav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    background-color: rgba(15, 7,27,.4);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100VW;
}
.SignUPNav>a>p{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    color: #ffff;
    line-height: 22px;
}
.SignUPNav>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    margin-right: 50px;
    height: 35px;
    font-size: 14px;
    line-height: 19px;
    color: #cfc4c1;
    background-color: rgba(15, 7,27,.4);
    box-shadow: 0px 2px 5px rgba(15, 7,27,.1);
    border-radius: 50px;
}
a{
    text-decoration: none;
    color: inherit;
}