.WhatSpecialBody {
  padding-top: 10px;
  margin-top: -22px;
  padding-bottom: 20px;
  background-color: #0f071b;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 1px;
}

.WhatSpecialBody > h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #ebe7e6;
}
.WhatsSpecialText1 {
  color: #f5a834;
}
.WhatsSpecialText2 {
  color: #f5a834;
  text-transform: capitalize;
}
.imageRow {
  display: flex;
  justify-content: center;
}
.imgCard {
  justify-content: space-between;
  padding: 20px;
  width: 350px;
  float: left;
}
.WhatSpecialImg {
  width: 168px;
  height: 215px;
  object-fit: contain;
}

.imgCard > p,
.WhatsSpecialText > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ebe7e6;
}

.imgCard > h3,
.WhatsSpecialText > h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #f3f2f2;
}

.WhatsSpecialimg > img {
  width: 150px;
  height: 150px;
}

.WhatsSpecialContainer {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f071b;
  padding-bottom: 20px;
}

.WhatsSpecialText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ebe7e6;
  width: 60vw;
}

.homeBody
  > .swiper-container
  > .swiper-pagination
  > .swiper-pagination-bullet-active {
  background: orange !important;
}

.homeBody > .swiper-container {
  margin-top: -20px;
}
