.homeBody{
    margin-top: -22px;
}
.videoBody{
    margin: 100px 0px 100px 0px;
    display: flex;
    justify-content: center;
}
.Carousel{
    display: flex;
    justify-content: center;
    margin: auto;
    /* width: 80%; */
    height: 400px;
}