.MainVerification {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vh;
  margin-top: 5vh;
}

.MainVerification > div {
  max-width: 23vw;
}

.MainPageVerifyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 51px;
  background-color: #0f071b;
  border-radius: 51.9359px;
  color: #ebe7e6;
  line-height: 23px;
  font-size: 16.6195px;
  cursor: pointer;
  font-weight: 500;
}

.VerificationAbstract {
  width: 211px;
  height: 158px;
  position: absolute;
  margin-left: -80px;
  margin-top: 4vh;
}
.VerificationStanding {
  margin-left: 180px;
  width: 233px;
  height: 134px;
}

.MainPageVerifyImages {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .MainVerification {
    width: 90%;
    align-items: flex-end;
    gap: 0;
    justify-content: flex-start;
    margin-top: 0;
  }
  .VerificationAbstract {
    display: none;
  }
  .MainVerification > div {
    max-width: none;
  }
  .MainVerification :first-child {
    width: 100%;
    font-size: 13px;
    max-width: none;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .MainVerification > div > p {
    width: 100%;
  }
  .MainPageVerifyButton {
    max-width: none;
    width: 120px;
    height: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .MainPageVerifyImages,
  .VerificationStanding {
    width: 104px;
    height: 72px;
  }
  .VerificationStanding {
    margin: 0;
    position: relative;
    right: 15vh;
    bottom: 8vh;
    transform: rotateY(180deg);
  }
}
