.Verified {
  display: flex;
  font-family: "Montserrat";
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 35vw;
}
.VerifiedItems {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  margin-left: 15%;
  margin-top: 40px;
}

.VerifiedHeading {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #0f071b;
}

.VerifiedText {
  width: 25vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #0f071b;
  margin-top: -10px;
}
.VerifiedImage {
  margin-left: 20vw;
}
.VerifiedImage > img {
  width: 130px;
  height: 120px;
}

@media only screen and (max-width: 800px) {
  .Verified {
    width: 100%;
    flex-direction: row;
    height: 100%;
  }
  .VerifiedItems {
    width: 100%;
    margin-left: 5%;
    margin-top: 0;
    justify-content: flex-start;
  }

  .VerifiedHeading {
    font-size: 13px;
    width: 90%;
  }
  .VerifiedImage {
    margin-left: 0;
  }
  .VerifiedImage > img {
    width: 109px;
    height: 110px;
  }
  .VerifiedText {
    width: 100%;
    font-size: 13px;
  }
}
