.PasswordModalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  right: 0;
  bottom: 0;
  background: rgba(15, 7, 27, 0.9);
}

.PasswordModal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  padding: 50px;
  background: #f5a834;
  border-radius: 5px;
  font-family: "Montserrat";
  transform: translate(-50%, -50%);
  width: 80vh;
  height: 50vh;
}

.PasswordModalTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.PasswordModalHeading > p {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}

.PasswordModalLine {
  width: 60%;
  border: 1px solid #cabfbc;
  margin-bottom: 20px;
}

.PasswordModalContent > form > input[type="text"] {
  padding: 5px;
  border: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 60%;
  background: transparent;
}

.PasswordModalContent > form > input {
  font-family: inherit;
  padding-left: 5px;
  font-size: inherit;
}

.PasswordModalContent > form > input:focus {
  outline: none;
  padding-left: 5px;
}

.PasswordModalButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PasswordModalButton > input[type="submit"] {
  height: 49px;
  width: 140px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #0f071b;
  color: #ebe7e6;
  border: none;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
  font-family: "Monserrat";
}

.PasswordModalButton > p {
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .PasswordModalWrapper {
    width: 100vw;
  }
  .PasswordModal {
    width: 90%;
    height: auto;
  }
}
