.homeBg {
  width: 100%;
  height: 110vh;
  background: url("../../Images/Banner\ Image.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  background-color: #0f071b;
}
.homeBgHide {
  background-color: white;
  width: 100%;
  height: 110vh;
  text-align: center;
  color: white;
}
.centered {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fbfbfb;
  /* font-size: 50px; */
}
.love {
  font-weight: 300;
  font-size: 68px;
  line-height: 82.89px;
  letter-spacing: 5px;
}
.note {
  font-weight: 500;
  font-size: 68px;
  line-height: 82.89px;
}
.tagLine {
  font-weight: 500;
  font-size: 25px;
  line-height: 19.5px;
}
.bottomSec {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fbfbfb;
}
.beginButton {
  padding: 15px;
  width: 100%;
  border-radius: 40px;
  border: 1px solid black;
  font-family: "Montserrat";
}
.beginButton a {
  text-decoration: none;
  /* font */
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: black;
}
